.noticia img{
	width: 250px;
	height: 150px;
	cursor: pointer;	
}
.noticia p,span{
	font-family: sans-serif;
	cursor: pointer;
}
.noticia .data{
	color: #808080;
	font-size: 12px;
}
.noticia .autor{
	font-size: 12px;
	margin-right: 3%;
	margin-left: 3%;
}
.noticia .categoria{
	font-size: 12px;
	background: #000;
	color: white;	
}
.noticia .titulo{
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 130%;
}
.noticia .titulo:hover{
	color: blue;
}
.noticia{
	width: 100%;
	border: 2px solid;
	margin-top: 1%;

}